.inner-addon {
    position: relative;
}

.inner-addon .fa, .inner-addon .fas {
    position: absolute;
    padding: 13px 30px;
    z-index: 100;
    cursor: pointer;
}

.left-addon .fa, .left-addon .fas {
    left: 0px;
}

.right-addon .fa, .right-addon .fas {
    right: 10px;
}

.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}