<div class="main-content" *ngIf="isAdmin() || isTeacher()">
    <div class="container-fluid">
        <div>
            <div class="row">
                <div class="col-md-12">
                    <h2>Grade for student {{ enrollment.student.user.firstName }} {{ enrollment.student.user.lastName }} {{ enrollment.student.cardName }}, course {{ enrollment.course.name }}</h2>
                    <h4>Points: {{ points }}</h4>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card" style="padding-left: 10px;">
                        <div class="form-group">
                            <label>Select grade</label>
                            <select class="form-control" [(ngModel)]="enrollment.grade">
                                <option [ngValue]="5">5</option>
                                <option [ngValue]="6">6</option>
                                <option [ngValue]="7">7</option>
                                <option [ngValue]="8">8</option>
                                <option [ngValue]="9">9</option>
                                <option [ngValue]="10">10</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="isAdmin() || isTeacher()">
            <button class="btn btn-success" (click)="save()">OK</button>
            <button class="btn btn-danger" (click)="goBack()">Cancel</button>
        </div>
    </div>
</div>