<div class="main-content">
    <div class="container-fluid">
        <div>
            <div class="row">
                <div class="col-md-9">
                    <h3>Exam {{ examPart.course.name }} : {{ examPart.type.name }} on {{ examPart.date | date:
                        'dd.MM.yyyy'}} in {{
                        examPart.location}}</h3>
                </div>
                <div *ngIf="isStudent()" class="col-md-3" style="float: right; padding-top: 15px;">
                    <div *ngIf="canSignUp">
                        <button style="float: right;" type="button" class="btn btn-primary" aria-label="Sign up" (click)="signUp()">
                            <span>Sign Up</span>
                        </button>
                    </div>
                    <div *ngIf="canSignOut">
                        <button style="float: right;" type="button" class="btn btn-danger" aria-label="Sign out"
                            (click)="signOut()">
                            <span>Sign Out</span>
                        </button>
                    </div>
                </div>
            </div>
           
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <h4>Takings</h4>
                    <div class="md-form">
                        <input type="text" class="form-control inputSearch" placeholder="Search" autocomplete="off"
                            id="search" />
                        <label></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div *ngIf="isLoggedIn()" class="content table-responsive table-full-width"
                            style="padding-top: 2%;">
                            <table class="table table-hover" style="text-align: center;">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Student</th>
                                        <th scope="col">Score</th>
                                        <th scope="col">Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let taking of takings;let k = index">
                                        <th scope="row">{{ k + 1 }}</th>
                                        <td>{{ taking.enrollment.student.cardName }} {{
                                            taking.enrollment.student.user.firstName }} {{
                                            taking.enrollment.student.user.lastName }}</td>
                                        <td>{{ taking.score }} / {{examPart.points}}</td>
                                        <td>{{ taking.status.name }}</td>
                                        <td *ngIf="isAdmin() || isTeacher()">
                                            <button type="button" class="btn btn-primary" aria-label="Edit"
                                                (click)="gotoEdit(taking)">
                                                <span class="fa fa-edit" aria-hidden="true"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>