<div class="sidebar-wrapper">
    <div class="logo">
        <a routerLink="/dashboard" href="#" class="simple-text">
            <div class="logo-img">
                <img src="../../../assets/img/ftn logo.png"/>

            </div>
            Student service
        </a>
    </div>
    <ul class="nav responsive-nav">
        <li *ngIf="isMobileMenu()">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-dashboard"></i>
				<p class="hidden-lg hidden-md">Dashboard</p>
            </a>
        </li>
        <li *ngIf="isMobileMenu()">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-dashboard"></i>
				<p class="hidden-lg hidden-md">{{ user? user.firstName : ""  }} {{ user? user.lastName : ""  }}</p>
            </a>
        </li>
        <li *ngIf="isMobileMenu()">
            <a class="dropdown-item" (click)="logout()" href="#">Log out</a>
        </li>
        <li class="separator hidden-lg hidden-md" *ngIf="isMobileMenu()"></li>
        <li>
            <a routerLink="/dashboard">
                <i class="pe-7s-graph"></i>
                <p>Dashboard</p>
            </a> 
        </li>
        <li>
            <a routerLink="/profile">
                <i class="pe-7s-user"></i>
                <p>User profile</p>
            </a> 
        </li>
        <li>
            <a routerLink="/courses">
                <i class="pe-7s-notebook"></i>
                <p>Courses</p>
            </a> 
        </li>
        <li>
            <a routerLink="/exams">
                <i class="pe-7s-pen"></i>
                <p>Exams</p>
            </a> 
        </li>
        <li *ngIf="isStudent()">
            <a routerLink="/documents">
                <i class="pe-7s-note2"></i>
                <p>Documents</p>
            </a> 
        </li>
        <li *ngIf="isStudent()">
            <a routerLink="/payments">
                <i class="pe-7s-cash paymants"></i>
                <p>Payments</p>
            </a> 
        </li>
        <li *ngIf="isAdmin()">
            <a routerLink="/students">
                <i class="pe-7s-users"></i>
                <p>Students</p>
            </a> 
        </li>
        <li *ngIf="isAdmin()">
            <a routerLink="/teachers">
                <i class="pe-7s-users"></i>
                <p>Teachers</p>
            </a> 
        </li>
        <li *ngIf="isAdmin()">
            <a routerLink="/addUser">
                <i class="pe-7s-add-user"></i>
                <p>Add new admin</p>
            </a> 
        </li>
    </ul>
</div>