<div *ngIf="isAdmin()"  class= "col-md-12" style="padding-top: 2%;">
    <h3>Course</h3>
  </div>
  
  <div *ngIf="isAdmin()" class= "col-md-12" style="padding-top: 2%;"> 
  
    <form>
          <div class="form-group">
            <label for="field1c" class="form-control-label">Name</label>
            <input type="text" [(ngModel)]="course.name" placeholder="Name" 
               class="form-control" id="field1c" name="field1">
            <label for="field3c" class="form-control-label">Code</label>
            <input type="text" [(ngModel)]="course.code" placeholder="Code" 
                class="form-control" id="field3c" name="field3">
            <label for="field2c" class="form-control-label">ESPB</label>
            <input type="number" [(ngModel)]="course.espb" placeholder="ESPB" 
                class="form-control" id="field2c" name="field2">
            </div>
  
     </form>
  
    <div *ngIf="course.id">
      <div>
        <h3>Students</h3>
        <button type="button" class="btn btn-primary" aria-label="Add" (click)="gotoAddEnrollment()">
          <span class="fa fa-plus" aria-hidden="true"></span>
        </button>
      </div>
      <table class="table table-bordered">
        <tr *ngFor="let enrollment of enrollments">
          <td>
            {{enrollment.student.user.firstName}} {{enrollment.student.user.lastName}} {{enrollment.student.cardName}}
             [Since {{enrollment.startDate | date: 'dd.MM.yyyy'}} until {{enrollment.endDate | date: 'dd.MM.yyyy'}}]
          </td>
          <td>
            <button type="button" class="btn btn-danger right" aria-label="Delete" (click)="deleteEnrollment(enrollment.id)">
              <span class="fa fa-trash" aria-hidden="true"></span>
            </button>
          </td>
        </tr>
      </table>   
    </div>
  </div>
  <div *ngIf="isAdmin()"  class= "col-md-12" style="padding-top: 2%;">
    <button class="btn btn-success" (click)="save()">OK</button>
    <button class="btn btn-danger" (click)="goBack()">Cancel</button>
  </div>