<div class="col-md-12">
    <app-sluzba-header></app-sluzba-header>
</div>
<div *ngIf="isLoggedIn()" class= "col-md-12" style="padding-top: 2%;">
    <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Course name</th>
          <th scope="col">ECTS</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let course of courses">
          <th scope="row">{{ course.id }}</th>
          <td>{{ course.name }}</td>
          <td>{{ course.espb | number }}</td>
        </tr>
        </tbody>
      </table>
</div>
