<!-- <div id="loginContainer" class="container" style="width: 100%;">
<form class="text-center border border-light p-5" >

    <p>Login</p>
  
    <input type="text" id="username" class="form-control mb-4 cs-12" name="username"  placeholder="Username">
  
    <input type="password" id="inputPassword" class="form-control mb-4 s-12" name="password">
  
    <div class="row" style="margin: auto; max-width: 100%;">
        <div class="col-7" style="margin: auto; height: max-content;"></div>
        <div id="forgot" class="col-5" style="margin: auto;">
            <div  style="margin: auto;">
                <a href="" >Forgot password ?</a>
            </div>
        </div>
    </div>
    <div class="row" style="margin: auto; max-width: 100%;">
        <div class="col-12" style="margin: auto; height: max-content;">
            <button class="waves-light btn-default btn" type="submit" color="default">Sign in</button>
        </div>
    </div> 
  
  

 
  </form>
  <div *ngIf=wrongUsernameOrPass class="alert alert-warning box-msg" role="alert">
    Wrong username or password.
  </div>
</div> 
 -->

<!--  <div class="login">
    <div class="account-login">
       <form class="login-form" (ngSubmit)="login()">
          <div class="form-group">
             <input type="text" class="form-control" name="username"  placeholder="Username" [(ngModel)]="user.username"   required autofocus>
          </div>
          <div class="form-group">
             <input type="password" name="password" placeholder="Password"  [(ngModel)]="user.password" placeholder="Password"  required  class="form-control">
          </div>
          <div class="remember">
             <a href="#" class="pull-right">Forgot Password?</a>
          </div>
          <button class="btn">Login</button>
       </form>
       <div *ngIf=wrongUsernameOrPass class="alert alert-warning box-msg" role="alert">
        Wrong username or password.
      </div>
    </div>
</div> --> 

 <div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h1 class="text-center">Login</h1>
      <form  (ngSubmit)="login()">
      <div class="input-group">
        <input type="text" class="form-control" name="username"  placeholder="Username" [(ngModel)]="user.username"   required autofocus>
        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
      </div>
      <div class="input-group">
        <input type="password" class="form-control" name="password" placeholder="Password"  [(ngModel)]="user.password" placeholder="Password"  required />
        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
      </div>
      <p class="text-center">Are you forgot your password? <a href="#">Click here</a></p>
      <button class="btn btn-default">Login</button>
    </form>
    <div *ngIf=wrongUsernameOrPass class="alert alert-warning box-msg" role="alert">
      Wrong username or password.
    </div>
    <div class="col-md-3"></div>
  </div>
</div> 