<!-- Default form login -->
<div id="loginContainer" class="container">
<form class="text-center border border-light p-5">

    <p>Sign in</p>
  
    <!-- Email -->
    <input type="email" id="defaultLoginFormEmail" class="form-control mb-4 cs-12" placeholder="E-mail">
  
    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4 s-12" placeholder="Password">
  
    <div class="row" style="margin: auto; max-width: 100%;">
        <div class="col-7" style="margin: auto; height: max-content;"></div>
        <div id="forgot" class="col-5" style="margin: auto;">
            <div  style="margin: auto;">
                <!-- Forgot password -->
                <a href="" >Forgot password ?</a>
            </div>
        </div>
    </div>
    
    <div class="row" style="margin: auto; max-width: 100%;">
        <div class="col-12" style="margin: auto; height: max-content;">
            <input _ngcontent-serverapp-c171="" type="submit" mdbbtn="" color="default" mdbwaveseffect="" value="Login" class="waves-light btn-default btn">
        </div>
    </div>
  
    <!-- Sign in button -->
  
  </form>
</div>
  <!-- Default form login -->