<!-- Default form login -->
<div class="container" style="margin: auto; max-width: 40vw;">
<form class="text-center border border-light p-5">

    <p class="h4 mb-4">Sign in</p>
  
    <!-- Email -->
    <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
  
    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
  
    <div class="row" style="margin: auto; max-width: 100%;">
        <div class="col-8" style="margin: auto; height: max-content;"></div>
        <div class="col-4" style="margin: auto; height: max-content;">
            <div>
                <!-- Forgot password -->
                <a href="">Forgot password?</a>
            </div>
        </div>
    </div>
    
    <div class="row" style="margin: auto; max-width: 100%;">
        <div class="col-12" style="margin: auto; height: max-content;">
            <button mdbBtn block="true" class="my-4" type="submit" style="background-color:#FAFAFA; width: 8vw;">Sign in</button>
        </div>
    </div>
  
    <!-- Sign in button -->
  
  </form>
</div>
  <!-- Default form login -->