/* You can add global styles to this file, and also import other style files */
/*--------------------------------------------------------------
## Fonts
--------------------------------------------------------------*/
/* @import "../node_modules/@fortawesome/fontawesome-free/css/all.css"; */

/* @font-face {
	font-family: 'Roboto';
	font-weight: normal;
	src: url('assets/fonts/Roboto-Regular.woff2') format('woff2'),
		url('assets/fonts/Roboto-Regular.woff') format('woff');
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	font-weight: 300;
	src: url('assets/fonts/Roboto-Light.woff2') format('woff2'),
		url('assets/fonts/Roboto-Light.woff') format('woff');
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	font-weight: 100;
	src: url('assets/fonts/Roboto-Thin.woff2') format('woff2'),
		url('assets/fonts/Roboto-Thin.woff') format('woff');
	font-style: normal;
}

body {
	font-family: 'Roboto', sans-serif !important;
}
*/

.container {
	width: 100% !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding-top: 0 !important;
	
}

table tr th td {
	text-align: center !important; 
}
.inputSearch{
	background-color: transparent !important;
    border: 1px solid #E3E3E3;
    border-radius: 0 !important;
    border-color: transparent !important;
    border-bottom: 1px solid #E3E3E3 !important;
	padding-left: 0;
	font-weight: 100;
}
.inputSearch:focus{
	background-color: transparent !important;
    border: 1px solid #E3E3E3;
    border-radius: 0 !important;
    border-color: transparent !important;
    border-bottom: 2px solid #4285f4 !important;
	padding-left: 0;
}
.inputSearch::placeholder{
	color:#767676;
	font-weight: 100;
}