<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="padding-left: 10px;">
                    <h3>Student</h3>
                    <form>
                        <div class="form-group">
                            <label for="field1c" class="form-control-label">Firstname</label>
                            <input type="text" [(ngModel)]="student.user.firstName" placeholder="Firstname"
                                class="form-control" id="field1c" name="field1">
                            <label for="field2c" class="form-control-label">Lastname</label>
                            <input type="text" [(ngModel)]="student.user.lastName" placeholder="Lastname"
                                class="form-control" id="fieldc" name="field2">
                            <label for="field3c" class="form-control-label">Username</label>
                            <input type="text" [(ngModel)]="student.user.username" placeholder="Username"
                                class="form-control" id="field3c" name="field3">
                            <label for="field4c" class="form-control-label">Password</label>
                            <input type="password" [(ngModel)]="student.user.password" placeholder="Password"
                                class="form-control" id="field4c" name="field4">
                            <label for="field5c" class="form-control-label">Cardname</label>
                            <input type="text" [(ngModel)]="student.cardName" placeholder="Cardname"
                                class="form-control" id="field5c" name="field5">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div *ngIf="isAdmin()">
            <button class="btn btn-success" (click)="save()">OK</button>
            <button class="btn btn-danger" (click)="goBack()">Cancel</button>
        </div>
    </div>
</div>